<!DOCTYPE html>
<html>
    <head>
        <title>jQuery AJAX</title>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    </head>
    <body>
        <button onclick="GetBooks()">Get</button>
        <button onclick="CreateBook()">Create</button>
        <button onclick="Clear()">Clear</button><br/><br/>
        
        <label>Name </label><input type="text" id="bookName"/>
        <label>Owner </label><input type="text" id="bookOwner"/>
        <br/><br/><hr/>
        
        <h2>Contents</h2>
        <hr/>
        <div id="content"></div>
        
        <script>
            function CheckOut(that){
                $.post("/checkout", {
                    id: that.getAttribute("data-id")
                }, function( data ) {
                    $("#content").html(OrderGetClick(data.success));
                });
            }
            
            function CheckIn(that){
                $.post("/checkin", {
                    id: that.getAttribute("data-id")
                }, function( data ) {
                    $("#content").html(OrderGetClick(data.success));
                });
            }
            
            function CreateBook(){
                $.post("/createbook", { 
                    title: $("#bookName").val(),
                    owner: $("#bookOwner").val()
                },
                  function(data){
                    $("#content").html(OrderGetClick(data.success));
                });
            }
            
            function DeleteBook(that){
                $.ajax({
                    url: '/deletebook',
                    type: 'DELETE',
                    data: {
                        id: that.getAttribute('data-id')
                    },
                    success: function(data) {
                        $("#content").html(OrderGetClick(data.success));
                    }
                });
            }
            
            function OrderGetClick(data){
                var contents = "";
                for(var i in data){
                    contents += '<div class="bookContainer">';
                        contents += '<span id="bookTitle">' + data[i].title;
                        contents += '</span>';
                        contents += '<span>' + data[i].lastCheckoutDate;
                        contents += '</span>';
                    if(data[i].checkedIn){
                        contents += '<button class="cktBtn"';
                        contents += ' onclick="CheckOut(this)"';
                        contents += 'data-id="' + data[i]._id + '">';
                        contents += 'Check Out</button>';
                    } else {
                        contents += '<button class="cknBtn"';
                        contents += ' onclick="CheckIn(this)"';
                        contents += 'data-id="' + data[i]._id + '">';
                        contents += 'Check In</button>';
                    }
                    contents += '<button onclick="DeleteBook(this)"';
                    contents += ' data-id="'+  data[i]._id +'">Delete</button>';
                    contents += '</div>';
                }
                return contents;
            }
            
            function GetBooks(){
                $.get("/findall", function(data) {
                    $("#content").html(OrderGetClick(data.success));
                });
            }
            
            
            function  Clear(){
                $("#content").html("");
            }
        </script>
    </body>
</html>