<div class="container">
  <h2 style="text-align:center">Create User Profile</h2>
  <form class="form-horizontal" role="form">
      
<!--    add user id?  Is this going to be automatically assigned?-->
      
      
       <div class="form-group">
    <label class="control-label col-sm-2" for="firstName">First Name:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
      </div>
    </div>
      
      <div class="form-group">
    <label class="control-label col-sm-2" for="lastName">Last Name:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
      </div>
    </div>
      
      
      <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
    </div>
      
      <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Phone:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="phone" maxlength="10" placeholder="Enter Phone">
      </div>
    </div>
      
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
      
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" id="role" checked> User</label><br>
          <label><input type="checkbox" id="role"> Admin</label>
        </div>
      </div>
    </div>
      
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" style="float: right">Create New User</button>
      </div>
    </div>
  </form>
</div>


</body>
</html>
