<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Call Bootstrap CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



    <title>BookKeep</title>



</head>


<body class="full">


    <!--- NAVBAR Start --->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="img/ccs_logo.png" style="height:50px; width:50px; margin-right:10px;" />

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Library</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">By Title</a></li>
                            <li><a href="#">By Author</a></li>
                            <li><a href="#">By Rating</a></li>
                            <li><a href="#">By Availability</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">

                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>

                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>
    <!--- Nav End--->



    <div class="container">
        <div style="margin-top:0px" class="col-sm-3">
            <img class="img-responsive animated flipInY" src="img/ccs_logo.png">
            <img class="img-responsive animated flipInY" src="img/book_stack.png">
        </div>


        <!-- Navigation Buttons -->
        <div class="col-sm-9">
            <button class="btn btn-info" id="getbtn" onclick="GetInfo()">SHOW LIBRARY</button>

            <button class="btn btn-info" id="putbtn" onclick="RenderCustomerForm()">ADD USER</button>

            <button class="btn btn-info" id="postbtn" onclick="GetAddBook()">ADD BOOK</button>


            <button class="btn btn-info" id="delbtn" onclick="DeleteInfo()">DELETE</button>

            <!-- End Navigation Buttons -->


            <!-- Container for main content stage -->
            <div id="infoBox">
            </div>

            <!-- End Container for main content stage -->

        </div>
    </div>









    <script>
        var infoBox = $("#infoBox");

        function MakePretty(data) {
            var contents = "";


            //Javascript to Display a book from the DB            
            for (var i = 0; i < data.length; i++) {
                contents += "<h1>" + data[i].title + "</h1>";
                contents += "<p> By: " + data[i].author + "</p>";
                contents += "<p> Synopsis: " + data[i].synopsis + "</p>";
                contents += "<p> Rating: " + data[i].rating + "</p>";

                //if statement to display checked out status
                if (data[i].status == "in") {

                    console.log("status is in!");

                    contents += '<button class="btn btn-success" onClick="CheckOut(this)" data-id="' + data[i]._id + '">CHECKOUT BOOK</button>';
                } else if (data[i].status == "out") {
                    contents += "Checked Out - due date: " + data[i].due_date;
                    contents += '<button class="btn btn-warning" onClick="CheckIn(this)" data-id="' + data[i]._id + '">RETURN BOOK</button>'
                } else {
                    contents += "Book availability missing"
                };

            }




            return contents;

        }

        //add user functions
        function RenderCustomerForm() {
            $.get("/adduser", function (data) {
                var contents = "";

                contents += data;

                document.getElementById("infoBox").innerHTML = contents;
            });
        }

        function AddUser() {
            $.post("/adduser", {
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    pwd: $("#pwd").val()
                },
                function (data) {
                    console.log(data);
                    infoBox.html(data.success);
                    document.getElementById("infoBox").innerHTML = "<h3>User: " +
                        data.success.firstName + " " + data.success.lastName + "</h3>";
                });
        }


        //end add user functions

        //Login functions
        function RenderLoginForm() {
            $.get("/login", function (data) {
                var contents = "";

                contents += data;

                document.getElementById("infoBox").innerHTML = contents;
            });
        }


        function Login() {

            var emailid = document.getElementById("email").value;
            var passwordid = document.getElementById("pwd").value;

            console.log("The email is: " + emailid + " and the password is " + passwordid);



            $.ajax({
                    url: "/login",
                    type: 'POST',
                    data: {
                        email: emailid,
                        password: passwordid,
                    },
                    success: function (data) {

                        document.getElementById("infoBox").innerHTML = data;

                    }

                }

            );
        }


        //End Login Functions        





        function GetInfo() {
            $.get("/browse", function (data) {
                infoBox.html(MakePretty(data.success));
            });
        }


        function GetAddBook() {
            $.get("/addBook", function (data) {
                var contents = "";

                contents += data;

                document.getElementById("infoBox").innerHTML = contents;
            });
        }

        function CreateBook() {
            $.post("/addbook", {
                    owner: $("#owner").val(),
                    title: $("#title").val(),
                    author: $("#author").val(),
                    synopsis: $("#synopsis").val(),
                    status: $("#status").val(),
                    rating: $("#rating").val(),
                    checkOutDate: $("#checkOutDate").val(),
                    dueDate: $("#dueDate").val(),
                    customer: $("#customer").val()
                },
                function (data) {
                    infoBox.html(MakePretty(data.success));
                });
        }

        function PostInfo() {
            if ($("#userName").val() != "" && $("#userBio").val() != "") {
                $.post("/lebowski", {
                        id: $("#userID").val(),
                        name: $("#userName").val(),
                        bio: $("#userBio").val()

                    },

                    function (data) {
                        infoBox.html(MakePretty(data.success));
                    });
            } else {
                alert("Please fill in all of your data");
            }
        }



        function CheckOut(that) {
            var bookID = that.getAttribute("data-id");
            console.log(bookID);

            //date stuff
            var currentDate = new Date();
            var bookDue = new Date();
            //current date plus 14 days (2 weeks)
            var theDate = bookDue.setDate(bookDue.getDate() + 14);
            //I really don't know how the variables worked out this way, but it's accurate and works, even though it makes absolutely no sense below.

            $.ajax({
                url: "/checkout",
                type: 'POST',
                data: {
                    id: bookID,
                    status: "out",
                    co_date: currentDate,
                    due_date: bookDue,
                },
                success: function (data) {
                    infoBox.html(MakePretty(data.success));
                }
            });

        }
        //this goes to server.js

        
//Check-in begin
        
        function CheckIn(that) {
            var bookID = that.getAttribute("data-id");
            console.log(bookID);
        

            $.ajax({
                url: "/return",
                type: 'POST',
                data: {
                    id: bookID,
                    status: "in",
                },
                success: function (data) {
                    infoBox.html(MakePretty(data.success));
                }
            });

        }
        //this goes to server.js

        
        

        function DeleteInfo() {

            $.ajax({
                url: "/lebowski",
                type: 'DELETE',
                data: {
                    id: $("#userID").val(),
                },

                success: function (data) {
                    infoBox.html(MakePretty(data.success));
                }
            });

        }
    </script>

</body>



</html>